
.container{
    display: grid;  
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 25px;
    align-items: center;

    /** height: 100px;**/
    background-image: linear-gradient(to right, #1fbab000, #1ca198);
}
.title {
    font-family: 'Courier New', Courier, monospace;
    grid-column: 2;
    grid-row-start: 2;

    transition: transform 250ms;
    transform: translateX(50px);
    &:hover{
        transform: translateX(0px);
    }
}
.subTitle {
    font-family: 'Courier New', Courier, monospace;
    grid-column: 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}